<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <!-- CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
        <div class="jumbotron text-center bg-primary text-white">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead">¡Pago exitoso! Gracias por realizar el pago.</p>
        </div>
        <div class="text-center container">
    </div>
    <!-- JS de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>