<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i>
    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="" />
      <span class="d-none d-lg-block">Cyberbasket</span>
    </a>
    
  </div>
  <div class="search-bar">


      <div class="search-form d-flex align-items-center">
        <input type="text" class="form-control" id="busqueda_texto" />
      <button title="Search" (click)="busqueda_producto()"><i class="bi bi-search" ></i></button>

      </div>


  </div>
  <nav class="header-nav ms-auto">
    <ul *ngIf="activeUser.email; else loggedOut" class="d-flex align-items-center">

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
        >
          <li class="dropdown-header">
            Carrito de compras
            <a href="/basket"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >Ver todos</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-footer"><a href="/basket">Ver todos los productos</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            src="assets/img/profile-img.jpg"
            alt="Profile"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2">{{
            activeUser.name
          }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ activeUser.name }}</h6>
            <span>{{ activeUser.email }}</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/user-profile"
            >
              <i class="bi bi-person"></i> <span>Mi cuenta</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/user-profile"
            >
              <i class="bi bi-gear"></i> <span>Opciones</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/pages-faq"
            >
              <i class="bi bi-question-circle"></i> <span>Ayuda</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="logout() ">
              <i class="bi bi-box-arrow-right"></i> <span>Cerrar Sesion</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ng-template #loggedOut>
      <ul class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar sesión</a>
        </li>
      </ul>
    </ng-template>
  </nav>
</header>
