<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let card of productos; let i = index">
          <div class="card">
            <a href="product?id={{ card.id_inventario}}">
              <img  src="{{card.imagen}}" class="card-img-top" alt="...">

            </a>
            
             <div class="card-body">
              <h5 class="card-title">{{card.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{card.marca}}</h6>
              <h4>{{ card.precio | currency:'USD':'symbol':'1.2-2' }}</h4>

           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>