<main id="main" class="main">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let card of datos_productos_home; let i = index">
          <div class="card">
            <a href="product?id={{ card.id_inventario}}">
              <img  src="{{testImagen}}" class="card-img-top" alt="...">

            </a>
            
             <div class="card-body">
              <h5 class="card-title">{{card.nombre_producto}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{card.nombre_marca}}</h6>
              <h4>{{ card.precio_producto | currency:'USD':'symbol':'1.0' }}</h4>

           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>