<main id="main" class="main">
        


    <div class="pagetitle">
        <h1>Crear Producto</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Crear Producto</li>

            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informacion del nuevo producto</h5>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tienda</label>
                                {{nombre_tienda}} -{{id_tienda}}-
                                <div class="col-sm-10">

                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10"> <input type="text" class="form-control" id="inputText" [(ngModel)]="titulo">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Precio</label>
                                <div class="col-sm-10"> <input type="number" class="form-control" id="cantidad" [(ngModel)]="precio">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
                                <div class="col-sm-10 " style="white-space: pre-wrap;"><textarea class="form-control" style="height: 400px" [(ngModel)]="descripcion" ></textarea>
                                </div>
                            </div>

                            


                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Imagen</label>
                                <div class="col-sm-10">
                                    
                                    <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event,0)">
                                    <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event,1)">
                                    <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event,2)">
                                    <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event,3)">
                                    <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event,4)">

                                </div>

                            </div>



                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Activo</legend>
                                <div class="col-sm-10">
                                    <div class="form-check"> <input class="form-check-input" type="checkbox"
                                            id="gridCheck2" checked> <label class="form-check-label"
                                            for="gridCheck2">Activo para la venta</label></div>
                                </div>
                            </div>

                            
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Categoria</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="id_categoria">
                                        <option value="1">Tecnología</option>
                                        <option value="2">Ropa</option>
                                        <option value="3">Calzado</option>
                                        <option value="4">Muebles y decoración</option>
                                        <option value="5">Muebles</option>
                                        <option value="6">Hogar</option>
                                        <option value="7">Deporte y ocio</option>
                                        <option value="8">Deportes</option>
                                        <option value="9">Aire libre</option>
                                        <option value="10">Salud y belleza</option>
                                        <option value="11">Cuidado personal</option>
                                        <option value="12">Salud</option>
                                        <option value="13">Juguetes</option>
                                        <option value="14">Hogar</option>
                                        <option value="15">Jardín</option>
                                        <option value="16">Joyería</option>
                                        <option value="17">Relojería</option>
                                        <option value="18">Libros</option>
                                        <option value="19">Música</option>
                                        <option value="20">Películas</option>
                                        <option value="21">Viajes</option>
                                        <option value="22">Turismo</option>
                                        <option value="23">Animales y mascotas</option>
                                        <option value="24">Animales</option>
                                        <option value="25">Mascotas</option>

                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Cantidad</label>
                                <div class="col-sm-10"> <input type="number" class="form-control" id="cantidad" [(ngModel)]="stock">
                                </div>
                            </div>



 
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Subir producto</label>
                                <div class="col-sm-10"> <button type="submit" class="btn btn-primary" (click)="llamarMetodoPost()">Subir</button></div>
                            </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo de producto</h5>
                        <h2>{{titulo}}</h2>
                        <h5 class="text-muted  ps-1">{{tienda_actual}} </h5>
                        <div class="card">



                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators"> 
                                <!-------------------Parte que ordena los botones de las imagenes-------------->
                                <button *ngIf="lista_imagenes[0] !== ''" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
                                <button *ngIf="lista_imagenes[1] !== ''" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> 
                                <button *ngIf="lista_imagenes[2] !== ''" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button *ngIf="lista_imagenes[3] !== ''" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button> 
                                <button *ngIf="lista_imagenes[4] !== ''" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>
                                <!-------------------Parte que ordena los sliders-------------->
                                <div class="carousel-inner">
                                   <div *ngIf="lista_imagenes[0] !== ''" class="carousel-item active"> <img src="{{lista_imagenes[0]}}" class="d-block w-100" alt="..."></div>
                                   <div *ngIf="lista_imagenes[1] !== ''"  class="carousel-item"> <img src="{{lista_imagenes[1]}}" class="d-block w-100" alt="..."></div>
                                   <div *ngIf="lista_imagenes[2] !== ''"  class="carousel-item"> <img src="{{lista_imagenes[2]}}" class="d-block w-100" alt="..."></div>
                                   <div *ngIf="lista_imagenes[3] !== ''"  class="carousel-item"> <img src="{{lista_imagenes[3]}}" class="d-block w-100" alt="..."></div>
                                   <div *ngIf="lista_imagenes[4] !== ''"  class="carousel-item"> <img src="{{lista_imagenes[4]}}" class="d-block w-100" alt="..."></div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
                             </div>

                              
                            <div class="card-body">
                               <h5 class="card-title">Descripcion</h5>
                               {{descripcion}}
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    
</main>