<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Crea una cuenta</h5>
                            <p class="text-center small">Entra tus datos</p>
                         </div>
                         <div class="row g-3 needs-validation">
                            <div class="col-12">
                               <label for="yourName" class="form-label">Nombre</label> <input type="text" name="name" class="form-control" id="yourName" required [(ngModel)]="nombre">
                            </div>
                            
                            <div class="col-12">
                              <label for="yourName" class="form-label">Apellido</label> <input type="text" name="last_name" class="form-control" id="yourLastName" required [(ngModel)]="apellido">
                           </div>

                            
                            <div class="col-12">
                               <label for="yourEmail" class="form-label">Email</label> <input type="email" name="email" class="form-control" id="yourEmail" required [(ngModel)]="email">
                            </div>

                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Clave</label> <input type="password" name="password" class="form-control" id="yourPassword" required [(ngModel)]="password">

                            </div>
                            <div class="col-12">
                               <div class="form-check">
                                  <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required> <label class="form-check-label" for="acceptTerms">Acepto los terminos y condiciones</label>

                               </div>
                            </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" (click)="metodo_impresion()">Crear cuenta</button></div>
                            <div class="col-12">
                            </div>
                           </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>

