<main id="main" class="main">
    <div class="pagetitle">
       <h1>Info</h1>

    </div>
    <section class="section contact">
       <div class="row gy-4">
          <div class="col-xl-12">
             <div class="row">
                <div class="col-lg-4">
                   <div class="info-box card">
                      <i class="bi bi-laptop-fill"></i>
                      <h3>Juan Pablo Pulgarin Musicue</h3>
                      <p>Líder</p>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="info-box card">
                      <i class="bi bi-cloud-plus-fill"></i>
                      <h3>Jhony Alejandro Perez Gomez</h3>
                      <p>Soporte</p>
                   </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box card">
                       <i class="bi bi-layer-forward"></i>
                       <h3>Juan Sebastian Henao Parra</h3>
                       <p>Planeación</p>
                    </div>
                 </div>


                <div class="col-lg-4 offset-lg-2">
                   <div class="info-box card">
                      <i class="bi bi-cloud-download"></i>
                      <h3>Sebastian Galvez Yepes
                    </h3>
                      <p>Calidad</p>
                    </div>
                </div>
                <div class="col-lg-4">
                   <div class="info-box card">
                      <i class="bi bi-layout-text-window-reverse
                      "></i>
                      <h3>Luis Fernando Gonzalez Zambrano</h3>
                      <p>Desarrollo</p>
                   </div>
                </div>
             </div>
          </div>

       </div>
    </section>
 </main>