
<div>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
<p>prueba works!</p>
</div>

<form [formGroup]="even" class="form-box">

    <label>Nombre</label>
    <div>
      <input name="titleA" id="title" type="text" placeholder="A" formControlName="nombre">
    </div>

    <label>Descripcion</label>
    <div>
      <input name="titleB" id="title" type="text" placeholder="B" formControlName="descripcion">
    </div>

    <label>Precio</label>
    <div>
      <input name="titleC" id="title" type="number" placeholder="C" formControlName="precio">
    </div>

    <button size="large"  expand="block" name="action" shape="round"
    color="tribu2" (click)="test_post()">
      Post</button>
  </form>
  <button click="test_post()">asddfg</button>

