






<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Dashboard</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card sales-card">
<!-------------------Parte que ordena segun la fecha las ventas-------------->
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Ordenas</h6>
                            </li>
                            <li><a class="dropdown-item" (click)="actualiza_num_ven('Hoy')">Hoy</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_num_ven('Semana')">Esta semana</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_num_ven('Mes')">Este mes</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_num_ven('Anio')">Este anio</a></li>
                         </ul>
                      </div>

<!-------------------Parte de la pagina que muestra las ventas de una tienda-------------->
                      <div class="card-body">
                         <h5 class="card-title">Ventas <span>| {{ventas_rango}}</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                            <div class="ps-3">

<!-------------------Parte donde se organiza el numero de ventas con el texto-------------->


                               <h6>{{ventas_numero}}</h6>
                               

                               <span *ngIf="ventas_porcentaje > 0" class="text-success small pt-1 fw-bold">{{ventas_porcentaje}}%</span> 
                               <span *ngIf="ventas_porcentaje < 0" class="text-danger small pt-1 fw-bold">{{ventas_porcentaje}}%</span> 
                               <span *ngIf="ventas_porcentaje == 0" class="text-muted small pt-1 fw-bold">{{ventas_porcentaje}}%</span> 
                               
                               <span class="text-muted small pt-2 ps-1">{{ventas_info}}</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card revenue-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

<!-------------------Parte que ordena segun las ganacias-------------->
                            <li class="dropdown-header text-start">
                               <h6>Ordenar</h6>
                            </li>
                            <li><a class="dropdown-item" (click)="actualiza_ganancias('Hoy')">Hoy</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_ganancias('Semana')">Esta semana</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_ganancias('Mes')">Este mes</a></li>
                            <li><a class="dropdown-item" (click)="actualiza_ganancias('Anio')">Este anio</a></li>
                         </ul>
                      </div>
<!-------------------Parte que muestra las ganacias de la tienda-------------->
                      <div class="card-body">
                         <h5 class="card-title">Ganacias<span>| {{ganancias_rango}}</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-currency-dollar"></i></div>
                            <div class="ps-3">
                               <h6>${{ganancias_numero}}</h6>

                               <span *ngIf="ganancias_porcentaje > 0" class="text-success small pt-1 fw-bold">{{ganancias_porcentaje}}%</span> 
                               <span *ngIf="ganancias_porcentaje < 0" class="text-danger small pt-1 fw-bold">{{ganancias_porcentaje}}%</span> 
                               <span *ngIf="ganancias_porcentaje == 0" class="text-muted small pt-1 fw-bold">{{ganancias_porcentaje}}%</span> 
                               
                               <span class="text-muted small pt-2 ps-1">{{ganacias_info}}</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>

<!-------------------Parte que ordena segun los clientes-------------->
                <div class="col-xxl-4 col-xl-12">
                   <div class="card info-card customers-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Ordenar</h6>
                             </li>
                             <li><a class="dropdown-item" (click)="actualiza_clientes('Hoy')">Hoy</a></li>
                             <li><a class="dropdown-item" (click)="actualiza_clientes('Semana')">Esta semana</a></li>
                             <li><a class="dropdown-item" (click)="actualiza_clientes('Mes')">Este mes</a></li>
                             <li><a class="dropdown-item" (click)="actualiza_clientes('Anio')">Este anio</a></li>
                         </ul>
                      </div>
<!-------------------Parte que muestra los clientes-------------->
                      <div class="card-body">
                         <h5 class="card-title">Clientes <span>| {{clientes_rango}}</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                               <h6>{{clientes_numero}}</h6>
                               
                               <span *ngIf="clientes_porcentaje > 0" class="text-success small pt-1 fw-bold">{{clientes_porcentaje}}%</span> 
                               <span *ngIf="clientes_porcentaje < 0" class="text-danger small pt-1 fw-bold">{{clientes_porcentaje}}%</span> 
                               <span *ngIf="clientes_porcentaje == 0" class="text-muted small pt-1 fw-bold">{{clientes_porcentaje}}%</span> 

                               <span class="text-muted small pt-2 ps-1">{{clientes_info}}</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
<!-------------------Parte que ordena segun los reportes-------------->
                <div class="col-12">
                   <div class="card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Ordenar</h6>
                             </li>
                             <li><a class="dropdown-item" (click)="genera_reportes('Hoy')">Hoy</a></li>
                             <li><a class="dropdown-item" (click)="genera_reportes('Semana')">Esta semana</a></li>
                             <li><a class="dropdown-item" (click)="genera_reportes('Mes')">Este mes</a></li>
                             <li><a class="dropdown-item" (click)="genera_reportes('Anio')">Este anio</a></li>
                         </ul>
                      </div>
        
                      <div class="card-body">
                         <h5 class="card-title">Reportes<span>/CAMBIAR LUEGO</span></h5>
                        <div>
                           <apx-chart
                           [series]="chartOptions.series"
                           [chart]="chartOptions.chart"
                           [yaxis]="chartOptions.yaxis"
                           [xaxis]="chartOptions.xaxis"
                           [labels]="chartOptions.labels"
                           [stroke]="chartOptions.stroke"
                           [title]="chartOptions.title"
                           [dataLabels]="chartOptions.dataLabels"
                           [fill]="chartOptions.fill"
                           [tooltip]="chartOptions.tooltip"
                         ></apx-chart>
                        </div>

<!-------------------Parte que ordena las ventas recientes-------------->
                      </div>
                   </div>
                </div>
                <div class="col-12">
                   <div class="card recent-sales overflow-auto">
                      <div class="filter">
 
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Ventas recientes</h5>
                         <table class="table table-borderless datatable">
                        
                            <thead>
                               <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Usuario</th>
                                  <th scope="col">Producto</th>
                                  <th scope="col">Precio</th>
                                  <th scope="col">Estado</th>
                               </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let order of ventas_recientes">
                                <td scope="row">{{ order.id }}</td>
                                <td>{{ order.customer }}</td>
                                <td><a href="product?id={{ order.id_inventario }}" class="text-primary">{{ order.product }}</a></td>
                                <td>{{ order.price | currency:'USD':'symbol':'1.2-2' }}</td>
                                <td *ngIf="order.status==='Pendiente'" class="badge bg-warning">Pendiente</td>
                                <td *ngIf="order.status==='Aprovado'" class="badge bg-success">Aprovado</td>
                                <td *ngIf="order.status==='Rechazado'" class="badge bg-danger">Rechazado</td>
                                <td *ngIf="order.status!='Pendiente'&&order.status!='Aprovado'&&order.status!='Rechazado'" class="badge bg-secondary">{{order.status}}</td>
                              </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div class="col-12">
                   <div class="card top-selling overflow-auto">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body pb-0">
                         <h5 class="card-title">Top Selling <span>| Today</span></h5>
                         <table class="table table-borderless">
                            <thead>
                               <tr>
                                  <th scope="col">Imagen</th>
                                  <th scope="col">Producto</th>
                                  <th scope="col">Precio</th>
                                  <th scope="col">Vendidos</th>
                                  <th scope="col">Total</th>
                               </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let order of mejores_ven">      
                                  <th scope="row"><a href="product?id={{ order.id_inventario}}"><img src="{{ order.imagen}}" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">{{ order.producto}}</a></td>
                                  <td>{{ order.precio | currency:'USD':'symbol':'1.2-2' }}</td>
                                  <td class="fw-bold">{{ order.vendidos}}</td>
                                  <td>{{ order.total | currency:'USD':'symbol':'1.2-2' }}</td>
                              </tr>
                            </tbody>

                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
    </section>
 </main>