<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

<!-------------------Seccion que aparece solo si el usuario tiene una tienda-------------->


 <div *ngIf="activeUser.email">      
   <li class="nav-heading">Cuenta</li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user_info"> <i class="bi bi-person"></i> <span>Usuario</span> </a></li>




   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Informacion</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/shop"> <i class="bi bi-grid"></i> <span>Tienda</span> </a></li>
   <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-grid"></i><span>Tiendas</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/shop"> <i class="bi bi-circle"></i><span>tienda_1</span> </a></li>
         <li> <a routerLink="/shop"> <i class="bi bi-circle"></i><span>tienda_2</span> </a></li>
         <li> <a routerLink="/shop"> <i class="bi bi-circle"></i><span>tienda_3</span> </a></li>
      </ul>
   </li>

   

   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/inventory"> <i class="bi bi-person"></i> <span>Inventario</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/order"> <i class="bi bi-person"></i> <span>Inventario</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/create_product"> <i class="bi bi-person"></i> <span>Crear Producto</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/create_shop"> <i class="bi bi-person"></i> <span>Crear Tienda</span> </a></li>





 </div>










<!-------------------Seccion que aparece si el usuario no tiene tienda-------------->


<!-------------------Seccion que siempre aparece-------------->

       <li class="nav-heading">Paginas</li>

       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Categorias</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


            <li> <a routerLink="/search?=tecnologia"> <i class="bi bi-circle"></i><span>Tecnologia</span> </a></li>
            <li> <a routerLink="/search?=ropa"> <i class="bi bi-circle"></i><span>Ropa</span> </a></li>
            <li> <a routerLink="/search?=calzado"> <i class="bi bi-circle"></i><span>Calzado</span> </a></li>
            <li> <a routerLink="/search?=muebles_y_decoracion"> <i class="bi bi-circle"></i><span>Muebles y decoracion</span> </a></li>
            <li> <a routerLink="/search?=muebles"> <i class="bi bi-circle"></i><span>Muebles</span> </a></li>
            <li> <a routerLink="/search?=hogar"> <i class="bi bi-circle"></i><span>Hogar</span> </a></li>
            <li> <a routerLink="/search?=deporte_y_ocio"> <i class="bi bi-circle"></i><span>Deporte y ocio</span> </a></li>
            <li> <a routerLink="/search?=deportes"> <i class="bi bi-circle"></i><span>Deportes</span> </a></li>
            <li> <a routerLink="/search?=aire_libre"> <i class="bi bi-circle"></i><span>Aire libre</span> </a></li>
            <li> <a routerLink="/search?=salud_y_belleza"> <i class="bi bi-circle"></i><span>Salud y belleza</span> </a></li>
            <li> <a routerLink="/search?=cuidado_personal"> <i class="bi bi-circle"></i><span>Cuidado personal</span> </a></li>
            <li> <a routerLink="/search?=salud"> <i class="bi bi-circle"></i><span>Salud</span> </a></li>
            <li> <a routerLink="/search?=juguetes"> <i class="bi bi-circle"></i><span>Juguetes</span> </a></li>
            <li> <a routerLink="/search?=hogar"> <i class="bi bi-circle"></i><span>Hogar</span> </a></li>
            <li> <a routerLink="/search?=jardin"> <i class="bi bi-circle"></i><span>Jardin</span> </a></li>
            <li> <a routerLink="/search?=joyeria"> <i class="bi bi-circle"></i><span>Joyeria</span> </a></li>
            <li> <a routerLink="/search?=relojeria"> <i class="bi bi-circle"></i><span>Relojeria</span> </a></li>
            <li> <a routerLink="/search?=libros"> <i class="bi bi-circle"></i><span>Libros</span> </a></li>
            <li> <a routerLink="/search?=musica"> <i class="bi bi-circle"></i><span>Musica</span> </a></li>
            <li> <a routerLink="/search?=peliculas"> <i class="bi bi-circle"></i><span>Peliculas</span> </a></li>
            <li> <a routerLink="/search?=viajes"> <i class="bi bi-circle"></i><span>Viajes</span> </a></li>
            <li> <a routerLink="/search?=turismo"> <i class="bi bi-circle"></i><span>Turismo</span> </a></li>
            <li> <a routerLink="/search?=animales_y_mascotas"> <i class="bi bi-circle"></i><span>Animales y mascotas</span> </a></li>
            <li> <a routerLink="/search?=animales"> <i class="bi bi-circle"></i><span>Animales</span> </a></li>
            <li> <a routerLink="/search?=mascotas"> <i class="bi bi-circle"></i><span>Mascotas</span> </a></li>

            

         </ul>
      </li>
       
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/contact"> <i class="bi bi-envelope"></i> <span>Contacto</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/options"> <i class="bi bi-card-list"></i> <span>Opciones</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/info"> <i class="bi bi-question-circle"></i> <span>Info</span> </a></li>
       
    </ul>
 </aside>