<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

<!-------------------Seccion que aparece solo si el usuario tiene una tienda-------------->


 <div *ngIf="activeUser.email">      
   <li class="nav-heading">Cuenta</li>

 
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user_info"> <i class="bi bi-person"></i> <span>Usuario</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Informacion</span> </a></li>



   

   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/inventory"> <i class="bi bi-person"></i> <span>Inventario</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/order"> <i class="bi bi-person"></i> <span>Ordenes</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/create_product"> <i class="bi bi-person"></i> <span>Crear Producto</span> </a></li>
   <li class="nav-item"> <a class="nav-link collapsed" routerLink="/create_shop"> <i class="bi bi-person"></i> <span>Crear Tienda</span> </a></li>





 </div>












<!-------------------Seccion que siempre aparece-------------->

       <li class="nav-heading">Paginas</li>

       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Categorias</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


            <li> <a routerLink="/search" [queryParams]="{ category: '1' }"  [replaceUrl]="true"  > <i class="bi bi-circle"></i><span>Tecnologia</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '2' }"> <i class="bi bi-circle"></i><span>Informatica</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '3' }"> <i class="bi bi-circle"></i><span>Ropa</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '4' }"> <i class="bi bi-circle"></i><span>Calzado</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '5' }"> <i class="bi bi-circle"></i><span>Muebles y decoración</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '6' }"> <i class="bi bi-circle"></i><span>Muebles</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '7' }"> <i class="bi bi-circle"></i><span>Hogar</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '8' }"> <i class="bi bi-circle"></i><span>Deporte y ocio</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '9' }"> <i class="bi bi-circle"></i><span>Deportes</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '10' }"> <i class="bi bi-circle"></i><span>Aire libre</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '11' }"> <i class="bi bi-circle"></i><span>Salud y belleza</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '12' }"> <i class="bi bi-circle"></i><span>Cuidado personal</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '13' }"> <i class="bi bi-circle"></i><span>Salud</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '14' }"> <i class="bi bi-circle"></i><span>Juguetes</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '15' }"> <i class="bi bi-circle"></i><span>Hogar</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '16' }"> <i class="bi bi-circle"></i><span>Jardín</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '17' }"> <i class="bi bi-circle"></i><span>Joyería</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '18' }"> <i class="bi bi-circle"></i><span>Relojería</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '19' }"> <i class="bi bi-circle"></i><span>Libros</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '20' }"> <i class="bi bi-circle"></i><span>Música</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '21' }"> <i class="bi bi-circle"></i><span>Películas</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '22' }"> <i class="bi bi-circle"></i><span>Viajes</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '23' }"> <i class="bi bi-circle"></i><span>Turismo</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '24' }"> <i class="bi bi-circle"></i><span>Animales y mascotas</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '25' }"> <i class="bi bi-circle"></i><span>Animales</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '26' }"> <i class="bi bi-circle"></i><span>Mascotas</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '27' }"> <i class="bi bi-circle"></i><span>Alimentos</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '28' }"> <i class="bi bi-circle"></i><span>Bebidas</span> </a></li>
            <li> <a routerLink="/search" [queryParams]="{ category: '29' }"> <i class="bi bi-circle"></i><span>Alimentos y bebidas</span> </a></li>
           


            

            

         </ul>
      </li>
       
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/contact"> <i class="bi bi-envelope"></i> <span>Contacto</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/info"> <i class="bi bi-question-circle"></i> <span>Info</span> </a></li>
       
    </ul>
 </aside>