<main id="main" class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3" *ngFor="let card of datos_productos_home; let i = index">
              <div class="card">
    
    
                <a href="product?id={{card.id_producto}}">
                  <img  src="{{imagenes_productos_home[card.id_producto]}}" class="card-img-top" alt="...">
                  
    
                </a>
                
                 <div class="card-body">
                  <h5 class="card-title">{{card.nombre_producto}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{card.nombre_tienda}}</h6>
                  <h4>{{ card.precio_producto | currency:'USD':'symbol':'1.0' }}</h4>
    
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
         <li class="page-item"> <a class="page-link" href="{{pagina_anterior}}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a></li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item active" aria-current="page"> <a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"> <a class="page-link" href="{{pagina_siguiente}}" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>
      </ul>
    </nav>
    
    </main>